.nav-link{
	color: whitesmoke !important;
	font-size: 11px !important;
	text-transform: uppercase !important;
	font-weight: 500 !important;
	letter-spacing: 3px !important;
}

.nav-link:hover{
	color: red !important;
	font-size: 11px !important;

}

.navbar-brand{
	color: whitesmoke !important;
}


.social-min{
	text-color: white !important;
}

.nav{
  text-align: center;
}

.myDropdownLink{
	color: gray !important;
}

.myDropdownLink:hover{
	color: white !important;
	cursor: pointer;
}