<div class="mh-fullscreen center-vh bg-img"  style="background-image: url(/assets/images/background.jpg);">
  <div class="container py-5">
    <div class="row">
      <div class="mb-0 mt-5 col-md-12 py-5 shadow p-3 mb-5 rounded" style="background-color: rgba(38, 50, 56, 0.7)" [@fadeIn]>
        <div class="text-white p-4 mx-md-4">
            <h5 class="text-warning text-uppercase">User list route should be authenticated</h5><hr>
            <p>This will show the list of user</p>
            <br>
            <div class="table-responsive">
              <table class="table table-condensed">
                <thead class="bg-success">
                  <tr>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    <td>{{user?.email}}</td>
                    <td>{{user?.name}}</td>
                    <td>{{user?.address}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            
        </div>
          
      </div>
    </div>
  </div>
</div>