<div class="mh-fullscreen center-vh bg-img"  style="background-image: url(/assets/images/background.jpg);">
  <div class="container py-5">
    <div class="row">
      <div class="mb-0 mt-5 col-md-8 offset-md-2 shadow p-3 mb-5 rounded" style="background-color: rgba(38, 50, 56, 0.7)" [@fadeIn]>
        <div class="text-white p-4 mx-md-4">
            <form class="form" (submit)="signUpUser($event)" [formGroup]="userSignupForm">
            	<h5 class="text-uppercase text-warning">Sample user registration</h5>

            	<hr>

                <div class="alert alert-danger alert-dismissible fade show error-message" [@fadeIn] *ngIf="error" role="alert">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="onAlertClose()">&times;</a>
                  <span [innerHtml]="error"></span>
                </div>  

                <div class="alert alert-success alert-dismissible fade show success-message" [@fadeIn] *ngIf="message" role="alert">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="onAlertClose()">&times;</a>
                  <span [innerHtml]="message"></span>
                </div>  
                <br>

            	<fieldset>
            	    <div class="form-group">
            	      <label for="email" class="col-md-6 control-label">Email:</label>
            	      <div class="col-md-12">
            	        <input type="text" class="form-control" id="email" name='email' placeholder="Email" formControlName="email" required [ngClass]="!userSignupForm.controls['email'].valid && userSignupForm.controls['email'].touched ? 'invalidInput' : ''">

                        <!-- VALIDATION MESSAGE -->
                        <label class="invalidLabel text-danger fs-10 text-right mt-2" *ngIf="!userSignupForm.controls['email'].valid && userSignupForm.controls['email'].touched">The email format you entered was invalid.</label>
            	      </div>
            	    </div>

            	    <div class="form-group">
            	      <label for="password" class="col-md-6 control-label">Password:</label>
            	      <div class="col-md-12">
            	        <input type="password" class="form-control" id="password" name='password' placeholder="Password" formControlName="password" required [ngClass]="!userSignupForm.controls['password'].valid && userSignupForm.controls['password'].touched ? 'invalidInput' : ''">

                        <!-- VALIDATION MESSAGE -->
                        <label class="invalidLabel text-danger fs-10 text-right mt-2" *ngIf="!userSignupForm.controls['password'].valid && userSignupForm.controls['password'].touched">The password you entered was invalid.</label>
            	      </div>
            	    </div>

            	    <div class="form-group">
            	      <label for="confirm-password" class="col-md-6 control-label">Confirm Password:</label>
            	      <div class="col-md-12">
            	        <input type="password" class="form-control" id="confirm-password" name='confirm-password' placeholder="Confirm Password" formControlName="confirmPassword" required [ngClass]="!userSignupForm.controls['confirmPassword'].valid && userSignupForm.controls['confirmPassword'].touched ? 'invalidInput' : ''">

                        <label class="invalidLabel text-danger fs-10 text-right mt-2" *ngIf="!userSignupForm.controls['confirmPassword'].valid && userSignupForm.controls['confirmPassword'].touched">The password you entered does not matched.</label>
            	      </div>
            	    </div>

            	    <div class="form-group">
            	      <label for="name" class="col-md-6 control-label">Name:</label>
            	      <div class="col-md-12">
            	        <input type="text" class="form-control" id="name" name='name' placeholder="Name" formControlName="name" required [ngClass]="!userSignupForm.controls['name'].valid && userSignupForm.controls['name'].touched ? 'invalidInput' : ''">

                        <label class="invalidLabel text-danger fs-10 text-right mt-2" *ngIf="!userSignupForm.controls['name'].valid && userSignupForm.controls['name'].touched">The name is required.</label>
            	      </div>
            	    </div>

            	    <div class="form-group">
            	      <label for="address" class="col-md-6 control-label">Address:</label>
            	      <div class="col-md-12">
            	        <input type="text" class="form-control" id="address" name='address' placeholder="Address" formControlName="address" required [ngClass]="!userSignupForm.controls['address'].valid && userSignupForm.controls['address'].touched ? 'invalidInput' : ''">

                        <label class="invalidLabel text-danger fs-10 text-right mt-2" *ngIf="!userSignupForm.controls['address'].valid && userSignupForm.controls['address'].touched">The address is required.</label>
            	      </div>
            	    </div>
            	    
                    <br>
                    <div class="text-center">
                        <a routerLink="/user/login">Already have an account?.</a>
                    </div>
                    <br><br>

            	    <div class="form-group">
            	        <div class="col-md-12 text-center">
            	           <button class="px-5 btn btn-danger mr-3" type="reset">Reset</button>
            	           <button class="px-5 btn btn-warning" type="submit">Register</button>
            	        </div>

            	    </div>
            	</fieldset>
            </form>
        </div>
          
      </div>
    </div>
  </div>
</div>