<div class="mh-fullscreen center-vh bg-img"  style="background-image: url(/assets/images/background.jpg);">
  <div class="container py-5">
    <div class="row">
      <div class="mb-0 mt-5 col-md-8 offset-md-2 shadow-sm" style="background-color: rgba(38, 50, 56, 0.4)">
        <div class="text-white p-4 mx-md-4">
            <form class="form">
            	<h5>Sample user registration</h5>
            	<fieldset>
            	    <div class="form-group">
            	      <label for="email" class="col-md-6 control-label">Email:</label>
            	      <div class="col-md-12">
            	        <input type="text" class="form-control" id="email" name='email' placeholder="Email" required>
            	      </div>
            	    </div>

            	    <div class="form-group">
            	      <label for="password" class="col-md-6 control-label">Password:</label>
            	      <div class="col-md-12">
            	        <input type="password" class="form-control" id="password" name='password' placeholder="Password" required>
            	      </div>
            	    </div>
            	    <br>
            	    <div class="form-group">
            	      <div class="col-md-12 text-center hidden-sm-down">
            	        <button class="px-3 btn btn-danger" type="reset">Reset</button>
            	        <button class="px-3 btn btn-success" type="submit">Submit</button>
            	      </div>

            	    </div>
            	</fieldset>
            </form>
        </div>
          
      </div>
    </div>
  </div>
</div>