<div class="mh-fullscreen center-vh bg-img"  style="background-image: url(/assets/images/background.jpg);">
  <div class="container py-5">
    <div class="row">
      <div class="mb-0 mt-5 col-md-8 offset-md-2 shadow p-3 mb-5 rounded" style="background-color: rgba(38, 50, 56, 0.7)" [@fadeIn]>
        <div class="text-white p-4 mx-md-4">
            <form class="form" (submit)="updateUser($event)" [formGroup]="userUpdateForm">
            	<h5 class="text-uppercase text-warning">Sample user update</h5>

            	<hr>

                <div class="alert alert-danger alert-dismissible fade show error-message" [@enterAnimation] *ngIf="error" role="alert">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="onAlertClose()">&times;</a>
                  <span [innerHtml]="error"></span>
                </div>  

                <div class="alert alert-success alert-dismissible fade show success-message" [@enterAnimation] *ngIf="message" role="alert">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="onAlertClose()">&times;</a>
                  <span [innerHtml]="message"></span>
                </div>  
                <br>

            	<fieldset>
            		<div class="form-group">
            	        <label for="name" class="col-md-6 control-label">Email: {{user.email}}</label>
            	    </div>

            	    <div class="form-group">
            	        <label for="name" class="col-md-6 control-label">Name:</label>
            	        <div class="col-md-12">
                	        <input type="text" class="form-control" id="name" name='name' placeholder="Name" formControlName="name" required [ngClass]="!userUpdateForm.controls['name'].valid && userUpdateForm.controls['name'].touched ? 'invalidInput' : ''">

                            <label class="invalidLabel text-danger fs-10 text-right mt-2" *ngIf="!userUpdateForm.controls['name'].valid && userUpdateForm.controls['name'].touched">The name is required.</label>        
            	        </div>
            	    </div>

            	    <div class="form-group">
            	        <label for="address" class="col-md-6 control-label">Address:</label>
            	        <div class="col-md-12">
                	        <input type="text" class="form-control" id="address" name='address' placeholder="Address" formControlName="address" required [ngClass]="!userUpdateForm.controls['address'].valid && userUpdateForm.controls['address'].touched ? 'invalidInput' : ''">

                            <label class="invalidLabel text-danger fs-10 text-right mt-2" *ngIf="!userUpdateForm.controls['address'].valid && userUpdateForm.controls['address'].touched">The address is required.</label>
            	        </div>
            	    </div>

            		<br><br>

            	    <div class="form-group">
            	        <div class="col-md-12 text-center">
            	           <button class="px-5 btn btn-danger mr-3" type="reset">Reset</button>
            	           <button class="px-5 btn btn-warning" type="submit">Update</button>
            	        </div>

            	    </div>
            	</fieldset>
            </form>
        </div>
          
      </div>
    </div>
  </div>
</div>