<div class="mh-fullscreen center-vh bg-img"  style="background-image: url(/assets/images/background.jpg);">
  <div class="container py-5">
    <div class="row">
      <div class="mb-0 mt-5 col-md-8 offset-md-2 py-5" style="background-color: rgba(38, 50, 56, 0.6)">
        <div class="text-white p-4 mx-md-4">
            <h5>This is a sample angular app for user management.</h5>
            <p>To start exploring the function click the button below to create a new user to test login functionality</p>
            <hr>
            <div class="text-right">
              <a routerLink="/user/registration" class="btn btn-warning">Create new user and explore<span class="pl-3 fa fa-arrow-right"></span></a>
            </div>
        </div>
          
      </div>
    </div>
  </div>
</div>